<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<header>
    <head>
        <%- include('../partials/head'); -%>
    </head>
    <%- include('../partials/header'); -%>
    <!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/information">Trang chủ</a></li>
        <li class="breadcrumb-item active">Sinh viên</li>
      </ul>
    </div>
  </div>
<!-- Breadcrumb End -->

</header>
<main id="main">
    <body class="img" style="background-image: url(images/bck-login.png);"></body>
        <div class="container-fluid">
        <div>
            <h2>Thêm mới sinh viên</h2>
            <table class="table" style="background-color:rgba(175, 193, 252, 0.603)">
                <thead>
                    <tr>
                        <!-- Tên cột dữ liệu -->
                        <th>MSSV</th>
                        <th>Họ và Tên</th>
                        <th>Email</th>
                        <th>Số điên thoại</th>
                        <th>Mật khẩu</th>
                    </tr>
                </thead>
                <form class='form-group' action="/api/add">
                    <tr>
                        <td>
                            <input name="masv" class="form-control" />
                        </td>
                        <td>
                            <input name="hovaten" class="form-control" />
                        </td>
                        <td>
                            <input name="email" class="form-control" />
                        </td>
                        <td>
                            <input name="sodienthoai" class="form-control" />
                        </td>
                        <td>
                            <input name="password" class="form-control" />
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-plus"
                                    aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </form>
            </table>
        </div>
    </body>
</main>
<footer>
    <%- include('../partials/footer'); -%>
</footer>
</html>