<!DOCTYPE html>
<html lang="en">

<header>

    <head>
        <%- include('../partials/head'); -%>
    </head>
    <%- include('../partials/header'); -%>
</header>

<main>

    <body class="img " style="background-image: url(images/bck-login.png);">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/information">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Liên hệ</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Contact Start -->
        <div class="contact">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-info">
                            <h2>Contact for help</h2>
                            <h3><i class="fa fa-map-marker"></i>54 Nguyễn Lương Bằng,Hoà Khánh Bắc, Liên Chiểu, Đà Nẵng
                            </h3>
                            <h3><i class="fa fa-envelope"></i>minhduccly1@gmail.com</h3>
                            <h3><i class="fa fa-phone"></i>0813145568</h3>
                            <div class="social">
                                <a href="https://www.facebook.com/dut.udn/" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a href="https://www.linkedin.com/company/linkedindut/" target="_blank"><i
                                        class="fab fa-linkedin-in"></i></a>
                                <a href="http://dut.udn.vn/" target="_blank"><i class="fab fa-edge"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="contact-form">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Your Name" />
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" placeholder="Your Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Subject" />
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                                </div>
                                <div><button class="btn" type="submit">Send Message</button></div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="contact-map">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.839791917709!2d108.14772551494765!3d16.073801288878023!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314218d68e8ccb03%3A0x64dc2cb3e38bbdaf!2zNTQgTmd1eeG7hW4gTMawxqFuZyBC4bqxbmcsIEhvw6AgS2jDoW5oIELhuq9jLCBMacOqbiBDaGnhu4N1LCDEkMOgIE7hurVuZyA1NTAwMDAsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1625029566232!5m2!1sen!2s"
                                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
                                loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact End -->
    </body>
</main>
<footer>
    <%- include('../partials/footer'); -%>
</footer>

</html>