<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<header>

    <head>
        <%- include('../partials/head'); -%>
    </head>
    <%- include('../partials/header'); -%>
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/information">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Tin tức</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->

</header>
<main style="margin-top: 20px;">

    <body style="background-color: whitesmoke;">
        <!-- ##### Hot News ##### -->
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-8">
                        <div class="row">
                            <!-- News 1-->
                            <div class="col-12 col-lg-7">
                                <div>
                                    <div class="post-thumb">
                                        <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6382"><img src="images/Tin1.jpg"
                                                style="width: 400px;height: 400px;" alt="Ảnh họp"></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6382"
                                            class="post-catagory">30/06/2021 09:35</a>
                                        <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6382" class="post-title">
                                            <h6>Hội nghị trực tuyến nghiên cứu, học tập, quán triệt, triển khai thực
                                                hiện Nghị quyết Đại hội XIII của Đảng
                                            </h6>
                                        </a>
                                        <div class="post-meta">
                                            <p class="post-author">By <i>Trung tâm Học liệu và Truyền thông, Trường Đại
                                                    học Bách khoa, Đại học Đà Nẵng</i> </p>
                                            <p class="post-excerp"> <b>Ngày 29-6, Ban Thường vụ Thành ủy tổ chức hội
                                                    nghị trực tuyến toàn thành phố nghiên cứu, quán triệt chuyên sâu một
                                                    số chuyên đề của Nghị quyết Đại hội lần thứ XIII của Đảng gắn với
                                                    Nghị quyết Đại hội lần thứ XXII của Đảng bộ thành phố.</b> <br>
                                                Ủy viên Trung ương Đảng, Bí thư Thành ủy Nguyễn Văn Quảng; Ủy viên dự
                                                khuyết Trung ương Đảng, Phó Bí thư Thường trực, Chủ tịch HĐND thành phố
                                                Lương Nguyễn Minh Triết; Phó Bí thư Thành ủy, Chủ tịch UBND thành phố Lê
                                                Trung Chinh cùng dự hội nghị.</p>
                                            <!-- Post Like & Post Comment -->
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="post-like"><img src="images/icon/like.png"
                                                        alt=" like"> <span> 305 </span></a> &nbsp;
                                                <a href="#" class="post-comment"><img src="images/icon/chat.png"
                                                        alt="Comment"> <span> 2810 </span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5">
                                <!-- News 2-->
                                <div class="single-blog-post featured-post-2">
                                    <div class="post-thumb">
                                        <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6388"><img
                                                src="images/tuyensinh.png" alt="Pic"></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6388" class="post-catagory">Tuyển
                                            sinh</a>
                                        <div class="post-meta">
                                            <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6388" class="post-title">
                                                <h6>Tra cứu kết quả xét tuyển theo phương thức tuyển sinh riêng năm 2021
                                                </h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="post-like"><img src="images/icon/like.png"
                                                        alt="like"> <span>305</span></a>
                                                <a href="#" class="post-comment"><img src="images/icon/chat.png"
                                                        alt="Comment"> <span>2810</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- News 3-->
                                <div class="single-blog-post featured-post-2">
                                    <div class="post-thumb">
                                        <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6385"><img
                                                src="images/nghiencuu1.jpg" style="width: 188; height: 268;"
                                                alt="Pic"></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6385" class="post-catagory">Nghiên
                                            cứu</a>
                                        <div class="post-meta">
                                            <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6385" class="post-title">
                                                <h6>Trường Đại học Bách khoa, ĐHĐN nghiên cứu chế tạo thành công sản
                                                    phẩm “Cabin chở bệnh nhân Covid-19 trong khu cách ly của bệnh viện”
                                                </h6>
                                            </a>
                                            <!-- Post Like & Post Comment -->
                                            <div class="d-flex align-items-center">
                                                <a href="#" class="post-like"><img src="images/icon/like.png"
                                                        alt="like"> <span>305</span></a>
                                                <a href="#" class="post-comment"><img src="images/icon/chat.png"
                                                        alt="Comment"> <span>2810</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- News 4-->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6282"><img src="images/kythuatoto.jpg"
                                        alt="Pic"></a>
                            </div>
                            <div class="post-data">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6282" class="post-catagory">Đào tạo</a>
                                <div class="post-meta">
                                    <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6282" class="post-title">
                                        <h6>Thông tin về việc mở ngành Kỹ thuật Ô tô</h6>
                                    </a>
                                    <p class="post-date"><span>16:28</span> | <span>18/05/2021</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- News 5-->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6182"><img src="images/traobang.jpg"
                                        alt="Pic" width="100px" height="130px"></a>
                            </div>
                            <div class="post-data">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6182" class="post-catagory">Đào tạo</a>
                                <div class="post-meta">
                                    <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6182" class="post-title">
                                        <h6>Lễ Trao Bằng tốt nghiệp Tiến sĩ, Thạc sĩ, Kỹ sư, Cử nhân và Kiến trúc sư đợt
                                            cuối học kỳ 1 năm học 2020-2021</h6>
                                    </a>
                                    <p class="post-date"><span>16:57</span> | <span>10/4/2021</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- News 6-->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6394"><img src="images/tiensi.jpg" alt=""
                                        width="100px" height="130px"></a>
                            </div>
                            <div class="post-data">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6394" class="post-catagory">Nghiên cứu</a>
                                <div class="post-meta">
                                    <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6394" class="post-title">
                                        <h6>Nghiên cứu sinh Võ Khánh Hà bảo vệ thành công Luận án Tiến sĩ cấp cơ sở,
                                            chuyên ngành Công nghệ thực phẩm</h6>
                                    </a>
                                    <p class="post-date"><span>07:28</span> | <span>05/07/2021</span></p>
                                </div>
                            </div>
                        </div>

                        <!-- News 7-->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="http://dut.udn.vn/Fast/Tintuc/id/6250"><img src="images/tintuc2.jpg"
                                        width="100px" height="130px" alt="Pic"></a>
                            </div>
                            <div class="post-data">
                                <a href="http://dut.udn.vn/Fast/Tintuc/id/6250" class="post-catagory">Tin tức</a>
                                <div class="post-meta">
                                    <a href="http://dut.udn.vn/Fast/Tintuc/id/6250" class="post-title">
                                        <h6>ATrường Đại học Bách khoa - ĐHĐN: Đào tạo tinh hoa, chất lượng quốc tế</h6>
                                    </a>
                                    <p class="post-date"><span>10:49</span> | <span>06/05/2021 </span></p>
                                </div>
                            </div>
                        </div>

                        <!-- News 8-->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/4713"><img src="images/sukienlon1.jpg"
                                        width="100px" height="130px" alt="Pic"></a>
                            </div>
                            <div class="post-data">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/4713" class="post-catagory">Sự kiện lớn</a>
                                <div class="post-meta">
                                    <a href="http://dut.udn.vn/Tintuc/Tintuc/id/4713" class="post-title">
                                        <h6>Lễ đón nhận danh hiệu Anh hùng lao động và Gặp mặt truyền thống kỷ niệm 45
                                            năm thành lập trường Đại học Bách khoa, Đại học Đà Nẵng (1975-2020)</h6>
                                    </a>
                                    <p class="post-date"><span>17:14</span> | <span>14/11/2020</span></p>
                                </div>
                            </div>
                        </div>
                        <!-- News 10-->
                        <div class="single-blog-post small-featured-post d-flex">
                            <div class="post-thumb">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6349"><img src="images/CN_AUN.jpg"
                                        width="100px" height="130px" alt="Pic"></a>
                            </div>
                            <div class="post-data">
                                <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6349" class="post-catagory">Giải thưởng</a>
                                <div class="post-meta">
                                    <a href="http://dut.udn.vn/Tintuc/Tintuc/id/6349" class="post-title">
                                        <h6>Chương trình đào tạo Kỹ thuật Cơ khí - chuyên ngành Cơ khí Động lực của Khoa
                                            Cơ khí Giao thông - Trường Đại học Bách khoa-Đại học Đà Nẵng được công nhận
                                            đạt tiêu chuẩn chất lượng quốc tế AUN-QA</h6>
                                    </a>
                                    <p class="post-date"><span>08:42</span> | <span>15/06/2021</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### News sidebar ##### -->
        <div class="popular-news-area section-padding-80-50">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="section-heading">
                            <h6>Popular News</h6>
                        </div>

                        <div class="row">
                            <!-- News 11-->
                            <div class="col-12 col-md-6">
                                <div class="single-blog-post style-3">
                                    <div class="post-thumb">
                                        <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6390"><img
                                                src="images/thongbao1.jpg" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6390" class="post-catagory">Thông
                                            báo</a>
                                        <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6390" class="post-title">
                                            <h6>Bảo vệ luận án tiến sĩ cấp cơ sở ngành kỹ thuật cơ khí động lực theo
                                                hình thức trực tuyến cho NCS Võ Anh Vũ</h6>
                                        </a>
                                        <div class="post-meta d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="images/icon/like.png" alt="like">
                                                <span>305</span></a>
                                            <a href="#" class="post-comment"><img src="images/icon/chat.png"
                                                    alt="Comment"> <span>2810</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- News 12-->
                            <div class="col-12 col-md-6">
                                <div class="single-blog-post style-3">
                                    <div class="post-thumb">
                                        <a href="http://dut.udn.vn/TrangSinhvien/Thongbao/id/6363"><img
                                                src="images/sinhvien1.jpg" alt="" width="275px" height="183px"></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="http://dut.udn.vn/TrangSinhvien/Thongbao/id/6363"
                                            class="post-catagory">Sinh viên</a>
                                        <a href="http://dut.udn.vn/TrangSinhvien/Thongbao/id/6363" class="post-title">
                                            <h6>Triển khai bảo vệ ĐATN học kỳ II năm học 2020-2021 theo hình thức trực
                                                tuyến đối với sinh viên chính quy</h6>
                                        </a>
                                        <div class="post-meta d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="images/icon/like.png" alt="like">
                                                <span>305</span></a>
                                            <a href="#" class="post-comment"><img src="images/icon/chat.png"
                                                    alt="comment"> <span>2810</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- News 13-->
                            <div class="col-12 col-md-6">
                                <div class="single-blog-post style-3">
                                    <div class="post-thumb">
                                        <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6364"><img
                                                src="images/tuyensinh.png" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6364" class="post-catagory">Tuyển
                                            sinh</a>
                                        <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6364" class="post-title">
                                            <h6>Kế hoạch tổ chức thi các môn Năng khiếu lấy kết quả xét tuyển đại học
                                                chính quy năm 2021</h6>
                                        </a>
                                        <div class="post-meta d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="images/icon/like.png" alt="">
                                                <span>305</span></a>
                                            <a href="#" class="post-comment"><img src="images/icon/chat.png" alt="">
                                                <span>2810</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- News 14-->
                            <div class="col-12 col-md-6">
                                <div class="single-blog-post style-3">
                                    <div class="post-thumb">
                                        <a href="http://dut.udn.vn/Tintuc/Thongbaods/gid/176"><img
                                                src="images/tuyendung.png" alt=""></a>
                                    </div>
                                    <div class="post-data">
                                        <a href="http://dut.udn.vn/Tintuc/Thongbaods/gid/176"
                                            class="post-catagory">Tuyển dụng</a>
                                        <a href="http://dut.udn.vn/Tintuc/Thongbaods/gid/176" class="post-title">
                                            <h6>Mục tuyển dụng của các công ty</h6>
                                        </a>
                                        <div class="post-meta d-flex align-items-center">
                                            <a href="#" class="post-like"><img src="images/icon/like.png" alt="">
                                                <span>305</span></a>
                                            <a href="#" class="post-comment"><img src="images/icon/chat.png" alt="">
                                                <span>2810</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4" style="margin-top: 30px;">
                        <!-- Popular News Widget -->
                        <div class="popular-news-widget mb-30">
                            <h3>Thông tin tuyển dụng</h3>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6387">
                                    <h6><span>1.</span> Công ty CP xi măng Đồng Lâm tuyển dụng Kỹ sư Cơ khí</h6>
                                </a>
                                <p>02/07/2021</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6384">
                                    <h6><span>2.</span> Công ty TNHH TVXD Khang Phú tuyển dụng Kỹ sư xây dựng</h6>
                                </a>
                                <p>01/07/2021 </p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6383">
                                    <h6><span>3.</span>Công ty Truyền tải Điện 2 tuyển dụng 06 vị trí Quản lý vận hành
                                        trạm biến áp 220kV-500kV</h6>
                                </a>
                                <p>01/07/2021</p>
                            </div>

                            <!-- Single Popular Blog -->
                            <div class="single-popular-post">
                                <a href="http://dut.udn.vn/Tintuc/Thongbao/id/6373">
                                    <h6><span>4.</span> Công ty Xây dựng An Thiên Phú tuyển dụng Kỹ sư Xây dựng</h6>
                                </a>
                                <p>23/06/2021</p>
                            </div>
                        </div>
    </body>
</main>
<footer>
    <%- include('../partials/footer'); -%>
</footer>

</html>