<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); -%>
</head>

<body class="img" style="background-image: url(images/bck-login.png);">
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Quên mật khẩu</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!--Login start-->
  <div class="login">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <div class="login-form">
            <form action="/pages/password" method="POST">
              <div class="row">
                <legend class="text-center">Quên Mật Khẩu</legend>
                <div class="col-md-6 mx-auto">
                  <label for="username">Email</label><br>

                  <input type="text" id="username" name="email" class="form-control"
                    placeholder="Nhập email của bạn vào đây">
                </div>
                <div class="col-md-12 text-center" style="margin: 10px;">
                  <button class="btn ">Gửi mật khẩu</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--login End-->>
</body>
<footer style="margin-top: 25px; font-size: larger;">
  <%- include('../partials/footer'); -%>
</footer>

</html>