<!DOCTYPE html>
<html lang="en">

<header>

  <head>
    <%- include('../partials/head'); -%>
  </head>
  <%- include('../partials/header'); -%>
</header>

<body class="img " style="background-image: url(images/bck-login.png);">
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="container-fluid">
      <ul class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active">Đăng ký</li>
      </ul>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!--Sign up Start -->
  <a href="http://dut.udn.vn/">
    <img
      src="https://media.kenhtuyensinh.vn/images/cms/2017/08/370x244_dai-hoc-da-nang-thong-bao-xet-tuyen-cao-hoc-dot-2-nam-2017-doi-voi-ky-su-tot-nghiep-chuong-trinh-pfiev.jpg"
      style="margin-top: 30px;">
  </a>
  <h1 style="text-align:center; margin-top: 20px;color: rgba(209, 31, 31, 0.89);">Thank you for using STUDENT MANAGE!
  </h1>
  <p style="text-align:center;font-size: medium;">Contact to sign up <a href="/about">Minh Đức</a> : 0813145568 or
    <strong><a href="https://www.facebook.com/mduc05/">Facebook</a></strong>.
  </p>
</body>
<style>
  img {
    margin: 0 auto;
    display: block;
    margin-top: 10px;
  }
</style>
<footer style="margin-top: 300px; color: white;">
  <%-include('.. /partials/footer');-%>
</footer>
<!-- Sign Up End-->>

</html>